  width: 400/* CSS files add styling rules to your content */

h1 {
  color: #38465e;
}

body{
  background-color: #3d3d3d;
}
.speech{
  border: white solid 15px;
}

.intro{
  background-color: #EB5E55;
  color: #38465e;
  padding: 20px;
}

.name {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  font-size: 50px;
}

.greeting {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
  font-size: 30px;
}



.biography{
  background-color: #33658A;
  color: #CDE6F5;
  font-family: 'Nanum Myeongjo', serif;
  padding: 20px;
}

.me {
 text-align: right;
 text-align:center;
 margin-left: 700px;
 margin-right: 150px;
 font-size: 30px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  border: solid white 15px;
  background-color: #797a7a;
}

.contacts{
  color: white;
  border: solid white 15px;
  background-color: #797a7a;
  padding: 20px;
  font-size: 30px;
}

.playlist{
  color: white;
  border: solid white 15px;
  background-color: #2d8745;
  padding: 20px;
  font-size: 3;
width: 1000px;
}

img{
  width: 700px;
}

.playlist-project{
  margin-left: 775px;
  font-size: 30px;
}

